body {
	font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f5f5f551;
	padding: 20px 0;

}

.container {
	max-width: 1200px;

}

h3 {
	font-family: 'Arial', sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;
	color: black;
	
}

.season-container {
	margin-bottom: 30px;
	background-color: white;
	padding: 20px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.month-card {
	border: 2px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 15px;
	background-color: white;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.month-card img {
	width: 400px;
	height: 140px;
	object-fit: cover;
	display: block;
}


	
	;


.month-card-body {
	padding: 15px;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #555;
	background-color: #fafafa;

}

.month-card-body h5 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	color: black;
}